body {
  color: #333333;
  font-size: 18px;
  line-height: 1.4;
  background-color: #ffffff;
  font-family: Exo2-Light, serif;
}
.input-right {
  text-align: right;
  font-weight: 700;
}
/* фильтр */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: #fefefe;
  opacity: .5;
  display: none;
}
.preloader img {
  position: relative;
  left: 50%;
  top: 50vh;
  margin: -100px 0 0 -100px;
}
/* фильтр */